{% extends 'base/layout.twig' %}

{% block content %}
    <section class="post-archive container">
        {% for post in posts %}
            {%  include 'content/archive/post-card.twig' with post only %}
        {% else %}
            {%  include 'content/not-found.twig' %}
        {% endfor %}
    </section>
{% endblock %}