.post-card {
    flex: 0 0 32%;
    margin-bottom: 3rem;
    background: white;
    box-shadow: rgba(39, 44, 49, 0.25) 0.8rem 1.5rem 3rem, rgba(39, 44, 49, 0.25) 0.1rem 0.2rem 2rem;
    transition: all 0.6s ease;

    @media(max-width: $screen-md-min) {
        width: 100%;

        .post-thumbnail {
            height: 30rem;
        }
    }

    &:hover {
        transition: all 0.3s ease;
        transform: translate3D(0, -2px, 0) scale(1.01);
    }

    .post-thumbnail {
        height: 20rem;
        width: 100%;
        display: block;

        > div {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center center;
        }
    }

    .post-content {
        padding: 3rem;
        text-align: justify;

        //equal height
        flex: 1 0 auto;
    }

    header {
        a {
            color: #383838;
        }

        h2 {
            margin-top: 0.5rem;
        }

        .post-category {
            font-style: italic;
        }
    }

    footer {
        margin-top: 2rem;
        text-align: right;

        a {
            text-decoration: underline;
            color: black;
        }
    }
}