.post-archive {
    @extend %generic-component;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    &.container {
        @include container();
    }
}