#File System
.DS_Store

#IDE
/.idea
/.vscode

#Vagrant
/.vagrant

#Composer
/vendor/*
!/vendor/.gitkeep

#RaccoonWP
.env
/public/wp
/public/core/debug.log
/public/core/uploads/

#Plugins
/public/core/plugins/*
!/public/core/plugins/index.php

#exclude your non-composer/premium plugins here like
#!public/core/plugins/your-plugin-here

#RaccoonWP MU plugins
/public/core/mu-plugins/mu-require.php
/public/core/mu-plugins/raccoon-framework/

#RaccoonWP theme
/public/core/themes/raccoon-twig/node_modules/
/public/core/themes/raccoon-twig/build-util/user.config.js
/public/core/themes/raccoon-twig/dist/
