<article
    class="post-body post-single"
>
    <header>
        <h1
            class="article-title"
        >
            {{ title }}
        </h1>
    </header>
    <div class="article-content">
        {{ content }}
    </div>
</article>