.footer-component {
    margin: 5rem auto 3rem;
    font-size: 2rem;
    text-align: center;
    font-style: italic;

    padding-top: 2rem;
    border-top: 1px dotted #777777;
    max-width: 20%;

    a {
        color: #383838;
        text-decoration: underline;
    }
}