.header-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background: #e0e0e0;

    .site-logo {
        width: 200px;
        height: 150px;

        transition: all 0.6s ease;

        &:hover {
            transition: all 0.3s ease;
            transform: translate3D(0, -2px, 0) scale(1.1);
        }
    }

    .site-title {
        margin: 1rem auto;
    }
    
    .site-description {
        margin: 0rem auto 1rem;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 300;
    }

    .nav {
        display: flex;
        list-style: none;

        li {
            display: block;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            
            a {
                display: block;
                margin: 0;
                padding: 10px 12px;
                color: #000;
                opacity: 0.7;
        
                &:hover {
                    text-decoration: none;
                    opacity: 1;
                }
            }
        }
    }
}