.site-sidebar {
    @extend %generic-component;

    .widget {
        margin-bottom: 1rem;
    }

    h4 {
        text-transform: uppercase;
    }

    ul {
        list-style: none;
        padding-left: 0.6rem;
        margin: 0 0.5rem;

        li {
            a {
                color: $color-black;
                opacity: 0.7;

                &:hover {
                    text-decoration: none;
                    opacity: 1;
                }
            }
        }
    }
}