<div class="generic-section error-404-component">
    <div class="container">
        <h2>
            <?php _e ( 'We\'re sorry, the page you requested could not be found.', 'sage' ); ?>
        </h2>
    </div>
</div>