{% extends 'base/layout.twig' %}

{% block content %}
    <section class="post-single-wrapper">
        {% if post %}
            {% include 'content/single/post-single.twig' with post only %}
            {% block sidebar %}
                {% if sidebar.data %}
                    {% include 'components/sidebar.twig' with { 'sidebar_data': sidebar.data } only %}
                {% endif %}
            {% endblock %}
        {% else %}
            {% include 'content/not-found.twig' %}
        {% endif %}
    </section>
{% endblock %}