<div
    class="header-component"
>
    <a
        href="{{ info['home_url'] }}"
        class="site-logo"
    >
        <img
            src="{{ info['site_logo_url'] }}"
            alt="Raccoon Logo"
        />
    </a>
    <h1
        class="site-title"
    >
        {{ info['site_title'] }}
    </h1>
    {% if(info['site_description']) %}
        <h2
            class="site-description"
        >
            {{ info['site_description'] }}
        </h2>
    {% endif %}

    {% if(menu_header) %}
        <div
            class="site-nav"
        >
            {% include 'components/menu.twig' with {'menu': menu_header.get_items} only %}
        </div>
    {% endif %}
</div>
