<!DOCTYPE html>
<html
    class="no-js"
    {{ fn('language_attributes') }}
>
{% block head %}
    {% include 'blocks/head.twig' %}
{% endblock %}
<body>
{% block header %}
    {% include 'layout/header-default.twig' with header_data only %}
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}
    {% include 'layout/footer-default.twig' with footer_data only %}
{% endblock %}
{{ fn('wp_footer') }}
</body>
</html>